body{
    font-family: 'Advent Pro', sans-serif;
}

h1{
  text-align: center;
  color: rgb(164, 184, 252);
  text-shadow: 1px 4px 2px black;
  font-size: 4em;
  margin-top: 130px;
  margin-bottom: 100px;
}

li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display:inline;
    padding: 25px;
    margin-top: 90px;
    border: solid 5px blue;
}

ul{
    text-align: right;
    margin-top:-60px;
    margin-right: 60px;
}

.barre_nav{
    background-color: blue ;
    opacity: 70%;
    padding: 10px;
    padding-bottom: 30px;
    margin: -1%;
}
.diagramme {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: 80px;
    background-image: conic-gradient(
        orange 40deg,
        #9900CC 0 170deg,
        #000066 0);
}

h2{
  color: rgb(56, 49, 49);
  text-shadow: 1px 4px 2px black;
  font-size: 3em;
  margin-left: 140px;
  margin-top: -110px;
}

.webedia{
    width: 400px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

li:hover{
    font-size: 20px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    color: blue;
    background-color: white;
  }

.container-flex{display: flex;}
.container{justify-content: space-evenly;}
.container{align-items: center;}

.item{border: 1px solid black}
.item-width{width: 350px}
.item-height-small{height: 60px;}

.bloc{text-align: center;}

.image1{padding: 30px;}
.pose1{margin-left: 260px;}

.image2{padding: 40px;}
.pose2{margin-left: 140px;}

.image3{padding: 40px;}
.pose3{margin-left: 100px;}
