@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
html {
    scroll-behavior:smooth;
}
body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    margin: 10px;
    margin-top: -2px;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: white;
 }
li img{
    height: 50px;
    width: auto;
    object-position: 50% 50%;
}
li img:hover{
    height:52px;
    transition: ease-in-out 0.5s;
}
li a:hover{
    background-color: white;
    color: #0028BE;
    font-size:22px;
    transition: ease-in-out 0.5s;
}
/*****************************NAVBAR*********************** */
nav{
    overflow: hidden;
    background-color: #0028BE;
    position: fixed;
    width: 100%;
    opacity: 0.95;
    z-index: 100;
    flex-shrink: auto;
}
header li{
    float: left;
    font-size: 1.2em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 16px;
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold ;
    float: right;
}
/************************IMAGE PRINCIPALE*******************/
#imageprincipale {
    padding-top: 60px;
    background: url(media/image\ principale1.jpg) no-repeat fixed 50% 50% ;
    background-color: rgba(0,40,190);
    background-size: cover;
    height: 600px;
}
h1 {
    font-family: 'Dancing Script'cursive;
    text-align: center;
    color: rgb(164, 184, 252);
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 4px 2px black;
}
#premierTrait {
    height: 2px;
    width: 25%;
    margin: -3px auto;
    background-color: #0028BE;
    box-shadow: 1px 3px 2px black;
}
#imageprincipale h3 {
    text-align: center;
    color: rgb(164, 184, 252);
    font-size: 3em;
    text-shadow: 1px 4px 2px black;
    margin: 50px;
}
/*******************PRESENTATION*****************************/
#presentation {
    color: #0028BE;
    background-color: white;
    padding: 0px 0px 100px 0px;
    border-top: solid #0028BE 5px ;
}
#presentation p{
    font-size: 25px;
    text-align: justify;
    margin: 0px 150px;
}
#textIntro {
    padding: 0px ;
    text-align: center;
}
#prestations {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 30px 10%;
}
.imagesPrestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 4px 5px 4px rgba(0,0,0,1);
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/****************************FOOTER********************************************/
footer {
    border-top: solid #0028BE;
    background-color: rgb(118, 127, 255);
    color: white;
    padding: 20px 0 10px 0;
    text-align: center;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: white;
}
#icon {
    width: 50%;
    text-align: right;
    margin: 0px 5px;
}
#icon a {
    background-color: #0028BE;
    border-radius: 50px;
    display: inline-block;
    padding: 5px 12px;
    font-size: 1.3em;
    color: white;
    margin: 0px 2px;
}
#icon a:hover{
    color: white;
    background-color: rgb(118, 127, 255);
    cursor: pointer;
    transition: 0.1s ease-in;
}
