@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

li{
    list-style-type: none;
}


img{
    height: 50px;
    width: auto;
    object-position: 50% 50%;
}

a{
    color: white;
}


li a:hover{
    background-color: white;
    color: #0028BE;
    border-radius: 10%;
    font-size: 22px;
    transition: ease-in-out 0.5s;
}

/************** NAVBAR **************/

nav{
    top: 0;
    overflow: hidden;
    background-color: #0028BE;
    position: fixed;
    width: 100%;
    opacity: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
}
header li{
    float: right;
    font-size: 1.2em;
    padding-left: 10px;
    margin-right: 20px;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    float: left;
}


/************** IMAGE PRINCIPALE **************/

#imagePrincipale{
    padding-top: 70px;
    background: url(medias/image_fond.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 600px;
    border-bottom: solid;
}

#TraitSeparation{
    height: 3px;
    width: 75%;
    margin: auto;
    background-color: white;
}

#slogan{
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 150px;
}

#info1{
    font-size: 30px;
    color: white;
    text-align: center;
}


/************** TIMELINE (div) **************/

#timeline{
    margin-top: -110px;
    margin-bottom: -60px;
}

h1 {
    font-family: 'Dancing Script' cursive;
    text-align: center;
    color: rgb(164, 184, 252);
    font-size: 4em;
    text-shadow: 1px 4px 2px black;
    margin-top: 150px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 0px;
    border: solid black;
    border-radius: 50px;
    background-color: #0028BE   ;
}


/************** TIMELINE (class) **************/

.timeline{
	width: 300px;
	color:#0028BE;
	padding: 0px 500px;
}

.timeline summary{
    font-size: 20px;
}

.timeline ul{
	list-style-type: none;
	border-left: 8px solid #094a68;
	padding: 10px 5px;
    border-radius: 25px 25px;
}

.timeline ul li{
	padding: 10px 10px;
	position: relative;
	cursor:pointer;
	transition:.5s;
}

details{
    width: 500px;
    background-color: #0028BE;
    color : rgb(164, 184, 252);
	border-radius:2em;
	padding:2px 6px;
	font-size: 20px;
	text-align: center;
    width: 20em;
    border: none;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}


details > summary{
    color: rgb(164, 184, 252);
    text-shadow: 5px 5px 5px black;
}
details > p{
    font-size: 18px;
    color: rgb(164, 184, 252);
    text-shadow: 5px 5px 5px black ;
}

.timeline ul li summary{
	display:inline-block;
}

.timeline ul li details{
    color: black;
	padding:15px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-14px;
	top:35px;
	transition:.5s;
}

.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
    top: 45px;
}
/*@media (max-width:500px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}*/

/************** PIED DE PAGE **************/

footer{
    margin-top: 100px;
    border-top: solid #0028BE;
    background-color: #767FFF;
    padding: 50px 50px 50px 50px;
}

footer span{
    color: white;
    font-size: 15px
}
