@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

li{
    list-style-type: none;
}


img{
    height: 50px;
    width: auto;
    object-position: 50% 50%;
}

a{
    color: white;
}

/************** NAVBAR **************/

nav{
    top: 0;
    overflow: hidden;
    background-color: #0028BE;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    float: right;
    font-size: 3em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    float: left;
    color: white;
}


/************** TEXTE **************/

#info1{
    text-transform: uppercase;
    text-align: center;
    color: #0028BE;
    padding-top: 100px;
    font-size: 30px;
}

#info2{
    text-align: center;
    color: #0028BE;
}

#info3{
    text-align: center;
    color: #0028BE;
}

h1 {
    font-family: 'Dancing Script' cursive;
    text-align: center;
    color: rgb(164, 184, 252);
    font-size: 4em;
    margin-top: 110px;
    text-shadow: 1px 4px 2px black;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 0px;
    border: solid black;
    border-radius: 50px;
    background-color: #0028BE   ;
}

/************** TIMELINE **************/

.timeline{
	width:800px;
	color:#0028BE;
	padding: 0px 500px;
}

.timeline ul{
	list-style-type: none;
	border-left: 8px solid #094a68;
	padding: 10px 5px;
}

.timeline ul li{
	padding:20px 20px;
	position: relative;
	cursor:pointer;
	transition:.5s;
}


.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align: center;
}
.timeline ul li .content h3{
	color:#34ace0;
	font-size:17px;
	padding-top:5px;
}
.timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-14px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#0028BE;
    color: white;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}