import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');
html {
    scroll-behavior:smooth;
}
body{
    font-family: 'Advent Pro', sans-serif;
}
.container-flex{display: flex;}
.container{
  justify-content: space-evenly;
  align-items: center;
}
/*****************************NAVBAR*********************** */
.barre_nav{
    background-color: #0028BE;
    padding: 10px;
    padding-bottom: 20px;
    margin: -1%;
    margin-top: -300px;;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
.webedia{
    width: 300px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline;
}
a{
  color: white;
    text-decoration: none;
    display: inline;
    padding: 25px;
    margin-top: 90px;
    border-radius: 10%;
    font-size: 25px;
}
ul{
    text-align: right;
    margin-top:-60px;
}
li{
    color: white;
    display: inline;
    padding: 25px;
    margin-top: 90px;
    border-radius: 20%;
    font-size: 25px;
}
li a:hover{
  color: blue;
  background-color: white;
  transition: ease-in-out 0.5s
}
/*****************************ACCROCHE*********************** */
h1{
    text-align: center;
    color: rgb(164, 184, 252);
    text-shadow: 1px 4px 2px black;
    font-size: 4em;
    margin-top: 300px;
    margin-bottom: 10px;
}
.premierTrait{
      height: 2px;
      width: 50%;
      margin-top: 20px;
      margin-bottom: 200px;
      background-color: #0028BE;
      box-shadow: 1px 3px 2px black;
      margin-left: auto;
      margin-right: auto
}
/*****************************DIAGRAMME*********************** */
.item{
    border: 5px solid black;
    margin-top: -50px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 80px;
    background: linear-gradient(to right, yellow, orange, pink, purple, #1a237e);
  }
.secondTrait{
  height: 3px;
  width: 25%;
  background-color: black;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.diagramme{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 90px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-image: conic-gradient(
        magenta 40deg,
        #9900CC 0 170deg,
        #000066 0);
}
.entête{
  width: 380px;
  height: 70px;
  color: white;
  text-shadow: 1px 4px 2px black;
  font-size: 2em;
  margin-top: -70px;
}
/*******************PRESENTATION*****************************/
.presentation{
  height: 2150px;
  border-left: solid;
  border-right: solid;
  margin: 0px 100px 80px 100px;
  background-color: rgb(164, 184, 252);
}
.presentation img{
  margin-top: 70px;
  margin-bottom: 100px;
}
.sous-titre{
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  color: white;
  text-shadow: 1px 4px 2px black;
  margin-top: 70px;
  margin-bottom: 20px;
}
.container img{margin-bottom: 20px;}

.item1{
  width: 340px;
  text-align: center;
  color: black;
  margin-top: 30px;
  background-color: white;
}
.item2{
  width: 420px;
  text-align: center;
  color: black;
  margin-top: 30px;
  background-color: white;
}
.item3{
  width: 300px;
  text-align: center;
  color: black;
  margin-top: 30px;
  background-color: white;
}
.images1{padding: 30px;}
.images2{padding: 40px;}
.images3{padding: 10px;}
/****************************FOOTER********************************************/
.fin{
    background-color: #0028BE ;
    opacity: 0.9;
    padding: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
}
